
// .hello{
//     width: 1240px;
//     height: 554px;
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 auto;
//     background: #D2DBF7;
//     justify-content: space-between;
    
// }

// .hello__content{
//     flex: 1 1 auto;
   

// }

// .hello__container{
    
// }

// .hello__title{
    
//     width: 488px;
//     height: 72px;
//     font-weight: 800;
//     font-size: 46px;
   
// }



// .hello__list li{
//     background: url('../../images/chek.svg')  0 0 no-repeat;
// 	font-size: 20px;
// 	padding: 0px 0px 0px 36px;
// 	line-height: 22px;
// 	margin: 0px 0px 15px 0px;
// }
// .hello__list:last-child {
//     margin: 0px;
// }

.hi{
    background: #D2DBF7;
    padding: 50px 0px;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap:wrap-reverse;
    
}
.hi__image{
    
}

.container{
}
.hi__row {
	display: flex;
	justify-content: space-between;
}

.hi__title{
    font-size: 46px;
    line-height:55.67px;
    font-weight: 800;
}

.btn{
    
}


.hi__list li {
    background: url('../../images/chek.svg')  0 0 no-repeat;
    	font-size: 20px;
    	padding: 0px 0px 0px 36px;
    	line-height: 22px;
    	margin: 0px 0px 15px 0px;

}