.spots {
    padding: 50px 0;
    text-align: center;
		@media screen and (max-width: 540px) {
			padding: 35px 0;
		}

    &__title {
        max-width: 680px;
        margin: 0 auto 45px;
				@media screen and (max-width: 540px) {
					margin-bottom: 30px;
					font-size: 26px;
					line-height: 31px;
				}
    }

    &__tooltip {
        display: inline-block;
        text-transform: uppercase;
        color: #1C50FE;
        font-size: 30px;
        font-weight: 800;
        padding: 15px 30px;
        background: #E5E5E5;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        position: relative;
				@media screen and (max-width: 540px) {
					font-size: 20px;
					padding: 12px 24px;
				}

        &::before {
            content: '';
            position: absolute;
            top: -19px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-right-width: 16px;
            border-left-width: 16px;
            border-bottom: 20px solid #E5E5E5;
						@media screen and (max-width: 540px) {
							border-right-width: 10px;
            	border-left-width: 10px;
							border-bottom-width: 11px;
							top: -10px;
						}
        }
    }
}