.bonus{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 50px;
    position: relative;
    background: rgba(28, 80, 254, 0.16);





&__box{
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 0;

}


}